# Atividade 1 - Remover Duplicações e Tratar Ausências.
Antes de realizar qualquer análise, é essencial garantir a integridade dos dados. Remova registros duplicados e preencha os valores ausentes com estratégias adequadas.

In [ ]:
import pandas as pd

# Lendo arquivo csv.
df = pd.read_csv('radar_amazonico_base.csv', sep=',')
# Removendo linhas duplicadas.
df.drop_duplicates()
# Trocando o tipo da coluna para datetime.
df['Data da Observação'] = pd.to_datetime(df['Data da Observação'])

# Tirando média de colunas do tipo Float
df_medianIndividuos = df['Qtd Indivíduos'].median()
df_medianTemperatura = df['Temperatura Média (°C)'].median()
df_medianUmidade = df['Umidade Média (%)'].median()

# Tratando valores nulos
df['Qtd Indivíduos'] = df['Qtd Indivíduos'].fillna(df_medianIndividuos)
df['Temperatura Média (°C)'] = df['Temperatura Média (°C)'].fillna(df_medianTemperatura)
df['Umidade Média (%)'] = df['Umidade Média (%)'].fillna(df_medianUmidade)
df['Espécie Observada'] = df['Espécie Observada'].fillna('Não informado')

df.to_csv('radar_amazonico_tratado.csv', index=False)

# Atividade 2 - Total de Indivíduos Observados por Município.
Some a quantidade de indivíduos observados em cada município. Qual região apresenta a maior concentração populacional de fauna?

In [109]:


df.groupby('Município')['Qtd Indivíduos'].sum().sort_values(ascending=False)

Município
Paragominas    106.0
Itaituba        89.0
Oriximiná       85.0
Altamira        77.0
Belterra        60.0
Portel          59.0
Santarém        50.0
Name: Qtd Indivíduos, dtype: float64

# Atividade 3 - Temperatura e Umidade Média por Município.
Calcule a média da temperatura e da umidade em cada município para identificar condições ambientais predominantes.

In [110]:
df.groupby('Município')[['Temperatura Média (°C)', 'Umidade Média (%)']].agg(
    {
        'Temperatura Média (°C)': ['mean'],
        'Umidade Média (%)': ['mean']
    }
).round(2)

            Temperatura Média (°C) Umidade Média (%)
                              mean              mean
Município
Altamira                     31.29             81.15
Belterra                     30.30             83.57
Itaituba                     33.09             73.09
Oriximiná                    30.06             81.25
Paragominas                  28.97             83.43
Portel                       31.34             85.72
Santarém                     29.88             78.85

# Atividade 4 - Desvio Padrão das Condições Ambientais
Avalie a instabilidade das condições ambientais calculando o desvio padrão da temperatura e da umidade por município.

In [111]:
df.groupby('Município')[['Temperatura Média (°C)', 'Umidade Média (%)']].std().round(2)

             Temperatura Média (°C)  Umidade Média (%)
Município
Altamira                       2.59              10.99
Belterra                       2.86               7.10
Itaituba                       2.43               6.65
Oriximiná                      3.25              11.59
Paragominas                    3.21               9.63
Portel                         3.80               6.96
Santarém                       3.35              10.21

# Atividade 5 - Resumo Estatístico com .agg()
Utilize o método .agg() para comparar municípios com base em soma, média e variação de três indicadores: número de indivíduos, temperatura e umidade.

In [112]:
df.groupby('Município')[['Qtd Indivíduos', 'Temperatura Média (°C)', 'Umidade Média (%)']].agg({
    'Qtd Indivíduos':['sum', 'mean', 'std'],
    'Temperatura Média (°C)':['mean', 'std'],
    'Umidade Média (%)':['mean', 'std']
}).round(2)

            Qtd Indivíduos             Temperatura Média (°C)        \
                       sum  mean   std                   mean   std
Município
Altamira              77.0  7.70  5.36                  31.29  2.59
Belterra              60.0  6.67  5.57                  30.30  2.86
Itaituba              89.0  8.90  3.51                  33.09  2.43
Oriximiná             85.0  7.73  4.15                  30.06  3.25
Paragominas          106.0  7.57  4.48                  28.97  3.21
Portel                59.0  7.38  4.10                  31.34  3.80
Santarém              50.0  6.25  4.40                  29.88  3.35

            Umidade Média (%)
                         mean    std
Município
Altamira                81.15  10.99
Belterra                83.57   7.10
Itaituba                73.09   6.65
Oriximiná               81.25  11.59
Paragominas             83.43   9.63
Portel                  85.72   6.96
Santarém                78.85  10.21

# Atividade 6 - Elaborar Conclusões Ambientais
Com base nos resultados obtidos, quais insights ambientais relevantes você conseguiu identificar? Destaque as principais conclusões relacionadas à biodiversidade, variações climáticas ou áreas que demandam maior atenção em ações de conservação.

In [131]:
maiorTemperaturaMedia = df.groupby('Município')['Temperatura Média (°C)'].max().sort_values(ascending=False).head(1)
menorUmidadeMedia = df.groupby('Município')['Umidade Média (%)'].min().sort_values().head(1)

df.groupby('Município')[['Temperatura Média (°C)', 'Umidade Média (%)']].agg({
    'Temperatura Média (°C)': ['max'],
    'Umidade Média (%)': ['min']
})

print(f"Maior média de temperatura: {maiorTemperaturaMedia}\nMenor média de Umidade: {menorUmidadeMedia}")

Maior média de temperatura: Município
Itaituba    35.5
Name: Temperatura Média (°C), dtype: float64
Menor média de Umidade: Município
Itaituba    65.2
Name: Umidade Média (%), dtype: float64